{% extends 'base.html.twig' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel mb0 panel-default grid-block block-id-header">
                        <a href="#" class="prev arrow-ico"><span></span></a>
                        <h3 class="grid-block-title">Block<a href="#">#{{ block.number }}</a></h3>
                        <a href="#" class="next arrow-ico"><span></span></a>
                        <p class="date">Date: <span>{{ block.date }}</span></p>
                        <p class="witness">Witness: <a href="#">{{ block.witness }}</a></p>
                        <p class="previous">Previous: <span>{{ block.previous }}</span></p>
                        <p class="transaction-count">Transaction count: <span>{{ block.transactions|length }}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">

{% for transaction in block.transactions %}
            <div class="col-xs-12 col-sm-6">
                <div class="table-panel mb17">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-9">
                                <h3>{{ transaction.order }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table bgn">
                            <tbody>
                                <tr>
                                    <td>Price</td>
                                    <td>-</td>
                                    <!-- <td>5.724532BTS/BITCNY</td> -->
                                </tr>
                                <tr>
                                    <td>Sell</td>
                                    <td>-</td>
                                    <!-- <td>4.3895 bitUSD</td> -->
                                </tr>
                                <tr>
                                    <td>Buy at least</td>
                                    <td>-</td>
                                    <!-- <td>25.127835 bridge.ZNY</td> -->
                                </tr>
                                <tr>
                                    <td>Seller</td>
                                    <td>-</td>
                                    <!-- <td>sdr.m02</td> -->
                                </tr>
                                <tr>
                                    <td>Expiration</td>
                                    <td>{{ transaction.expiration|date('d.m.Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Fee</td>
                                    <td>{{ transaction.fee.amount }} {{ transaction.fee.asset_name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endfor %}

        </div>
    </div>
</section>
{% endblock %}
