{% extends 'base.html.twig' %}

{% block content %}
<section class="section">
    <!--
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H VOLUME IN BTS</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H VOLUME IN USD</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H VOLUME IN CNY</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H MARKET CAP IN BTS</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H MARKET CAP IN USD</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel mini-box">
                            <p class="title">24H MARKET CAP IN CNY</p>
                            <p class="number">-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="volume_chart" style="height: 225px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</section>

<section class="section mt_minus15">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="table-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-lg-9">
                                <h3>Assets</h3>
                                <form class="filterForm" name="FilterForm" id="FilterForm" action="" method="">
                                    <div class="checkbox-group">
                                        <input id="all" type="radio" name="filterStatus" value="all" checked="checked" />
                                        <label for="all">All</label>
                                    </div>
                                    <div class="checkbox-group">
                                        <input id="user_issued_assets" type="radio" name="filterStatus" value="user_issued_assets" />
                                        <label for="user_issued_assets">User Issued Assets</label>
                                    </div>
                                    <div class="checkbox-group">
                                        <input id="smart_coins" type="radio" name="filterStatus" value="smart_coins" />
                                        <label for="smart_coins">SmartCoins</label>
                                    </div>
<!--
                                    <div class="checkbox-group">
                                        <input id="core_token" type="radio" name="filterStatus" value="core_token" />
                                        <label for="core_token">Core Token</label>
                                    </div>
-->

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table filter-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>24H Volume</th>
                                    <th>Type</th>
                                    <th>Market Cap</th>
                                    <th>Supply</th>
<!--
                                    <th>Holders</th>
-->
                                </tr>
                            </thead>
                            <tbody>
{% for asset in assets %}
{% set asset_type = 'user_issued_assets' %}
{% if asset.type == 1 %}
    {% set asset_type = 'core_token' %}
{% elseif asset.type == 2 %}
    {% set asset_type = 'smart_coins' %}
{% endif %}
                                <tr>
                                    <td class="all"><img src="/images/currency/bts.png" alt=""></td>
                                    <td class="all"><a href="{{ path('asset_by_symbol', {'symbol': asset.symbol }) }}">{{ asset.symbol }}</a></td>
                                    <td class="all">{{ asset.price }} BTS</td>
                                    <td class="all">{{ asset.volume }} <a href="#">BTS</a></td>
                                    <td class="all {{ asset_type }}">{{ asset_type|trans }}</td>
                                    <td class="all">{{ asset.marketCap }} <a href="#">BTS</a></td>
                                    <td class="all">{{ asset.currentSupply }}</td>
<!--
                                    <td class="all">{{ asset.holders }}</td>
-->
                                </tr>
{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/graph/echarts.min.js"></script>
<script type="text/javascript" src="/js/graph/echarts-gl.min.js"></script>
<script type="text/javascript" src="/js/graph/ecStat.min.js"></script>
<script type="text/javascript" src="/js/graph/dataTool.min.js"></script>
<script type="text/javascript" src="/js/graph/china.js"></script>
<script type="text/javascript" src="/js/graph/world.js"></script>
<script type="text/javascript" src="/js/graph/bmap.min.js"></script>
<script type="text/javascript" src="/js/graph/simplex.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("volume_chart");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        animation:!0, title: {
            text: "Daily DEX Volume in BTS for the last 30 days"
        }
        , tooltip: {
            trigger: "axis"
        }
        , xAxis:[ {
            boundaryGap: !0, data: ['2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28', '2017-11-29', '2017-11-30', '2017-11-31', '2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06', '2017-12-07']
        }
        ], yAxis:[ {
            type: 'value'
        }
        ], calculable:!0, series:[ {
            name:"Volume", type:"bar", itemStyle: {
                normal: {
                    color: "#3498DB", borderColor: "#3498DB"
                }
            }
            , data:[5, 3, 4, 5, 2, 20, 40, 150, 80, 10, 8, 7, 50, 5]
        }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
{% endblock %}
